.title {
    text-align: center;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.gallery-image {
    width: 80px;
}

#img-detail-div {
	align: center;
}

#hide-gallery-objs {
	background-color: green
}

.container {
	padding-top: 3%
}

#img-details {
	text-align: center;
	margin-bottom: 50px;
}

#img-div {
	margin-bottom: 50px;
}